html {
    scroll-behavior: smooth;
    background-color: #F7C59F;
}
body {
    font-family: 'Montserrat';
    margin: 0;
    min-height: 100%;
    width: 100%;
  }

  h1, h2, h3 {
      font-family: 'Overpass';
  }

  #header {
    display: grid;
    grid-template-rows: 110px auto;
    grid-template-columns: 50px auto;
    width: 100%;
    height: 46.875rem;
  }

  #windphoto {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
  }

  #text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 10%;
  }

  a {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  footer {
    height: 368px;
    background-color: #6482A6;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 30%;
    position: absolute;
  }

  footer img {
    width: 50px;
    height: 50px;
  }

  #ig {
    margin-left: 5%;
    margin-right: 5%;
  }
  
