html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    margin: 0;
    min-height: 100%;
    width: 100%;
  }

  @media only screen and (max-width: 400px) {
    p {
      max-width: 80%;
    }
  }

  @media only screen and (max-width: 900px) {
    #page3, #page2 {
      flex-direction: column;
    }
    #page2 {
      margin-left: 20%;
    }
    #video {
      width: 100%;
    }
    #articleBox, #quote, #tietovisalinkki {
      width: 50%;
    }
    #quote {
      margin-top: 10%;
    }
    #tietovisalinkki {
      height: 20%;
      font-size: 16px;
    }
    #sanomat {
      margin-left: 10%;
    }
    footer {
      height: 35%;
    }
  }

  @media only screen and (max-width: 1100px){
    body {
      font-size: 14px;
    }
    a {
      font-size: 12px;
    }
    #artikkelit, #ukk, #text h1 {
      margin-top: 20%;
    }
    #header {
      margin-top: 4%;
    }
    #articleBox, #quote {
      width: 40%;
      margin-left: 10%;
    }
    #tietovisalinkki {
      margin-left: 10%;
      width: 50%;
      font-size: 22px;
    }
    #quote .author {
      font-size: 15px;
    }
    footer {
      height: 40%;
    }
  }

  @media only screen and (min-width: 1100px){
      body {
        font-size: 16px;
    }
    #artikkelit, #ukk, #text h1 {
      margin-top: 10%;
    }
    #header {
      margin-top: -6%;
    }
    #page3, #page2 {
      flex-direction: row;
    }
    #video {
      width: 50%;
    }
    #articleBox {
      max-width: 25%;
      margin-left: 7%;
    }
    #page2right {
      margin-left: 10%;
    }
    #tietovisalinkki {
      font-size: 22px;
    }
    footer {
      height: 45%;
    }
  }


  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  h1, h2, h3 {
      font-family: 'Overpass';
  }

  p {
    font-family: 'Montserrat';
    line-height: 27px;
  }

  #windphoto {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-columns: 400px auto;
    grid-template-rows: 350px auto;
    background-image: url(Kuvat/Tuulivoimala.png);
    width: 700px;
  }

  #header {
    max-width: 100%;
    max-height: 1080px;
  }

  #headline {
    grid-row-start: 2;
    grid-column-start: 2;
    font-size: 60px;
    font-family: Overpass;
    font-weight: lighter;
    font-style: italic;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    align-items: center;
    left: 0;
    box-shadow: 0px 2px 4px #2D2E2E;
    background-image: url('Kuvat/Taivas.jpg');
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  #page img {
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #page3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  #sanomat {
    margin-bottom: 5%;
  }

  #page2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #page2right {
    display: flex;
    flex-direction: column;
  }

  #quote {
    max-width: 60%;
    height: 45%;
    background-image: url("Kuvat/quotes.jpg");
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7%;
    margin-bottom: 10%;
    box-shadow: 0px 2px 4px #2D2E2E;
    padding-right: 10%;
    padding-left: 2%;
    float: left;
  }

  .prev, .next {
    cursor: pointer;
    top: 20%;
    width: auto;
    margin-top: 60%;
    margin-bottom: 0%;
    padding: 16px;
    color: rgb(2, 1, 1);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
  }
  .prev:hover, .next:hover {
    color: rgb(199, 210, 219);
  }
  q {font-style: italic;}
  .author {
    font-size: 19;
  }

  #text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 10%;
  }

  #video {
    margin-bottom: 10%;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 0px 2px 4px #2D2E2E;
  }

  #video video {
    width: 100%;
  }

  #video p {
    text-align: center;
  }

  #tietovisalinkki {
    max-width: 71%;
    height: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Overpass;
    border-style: solid;
    border-color: #F7C59F; 
    border-width: thick;
  }

  footer {
    background-color: #6482A6;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20%;
    position: absolute;
    box-shadow: 0px 2px 4px #2D2E2E;
  }

  footer img {
    width: 50px;
    height: 50px;
  }

  #ig {
    margin-left: 5%;
    margin-right: 5%;
  }

  #artikkelit {
    margin-left: 7%;
  }

  #artikkelit h2 {
    margin-top: 5%;
  }

  #artikkelit p, #artikkelit h3, #artikkelit h2 {
    max-width: 55%;
  }

  #artikkelit img {
    width: 55%;
  }

  #articleBox {
    background-color: #B5C3D0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 4px #2D2E2E;
    padding-right: 2%;
    padding-left: 2%;
  }

  #articleBox a {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
  }


  #navBox {
    max-width: 25%;
    background-color: #B5C3D0;
    float: right;
    margin-right: 7%;
    text-align: center;
    box-shadow: 0px 2px 4px #2D2E2E;
    padding-left: 2%;
    padding-right: 2%;
  }

  #navBox a {
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  #ukk {
    margin-left: 7%;
  }

  #ukk img, #ukk p {
    max-width: 55%;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text] {
  max-width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

textarea {
  max-width: 100%;
  margin-top: 1%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(137, 168, 206);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2%;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(156, 176, 201);
}
/* Add a background color and some padding around the form */
.kontaktointi {
  border-radius: 5px;
  background-color: #6482A6;
  padding: 20px;
  max-width: 55%;
  margin-left: 6%;
  margin-top: 5%;
  box-shadow: 0px 2px 4px #2D2E2E;
}
  
